/* styles.css */
body {
  font-family: Arial, sans-serif;
  margin: 0;
  padding: 20px;
  background-color: rgb(38, 37, 37);
  color: white;
}
/* Center the product details */
.container {
    text-align: center;
  }
  
  /* Style the product name */
  h2 {
    color: #333;
  }
  
  /* Style the product description */
  p {
    color: #666;
  }
  
  /* Style the price */
  .price {
    font-weight: bold;
    color: #007bff;
  }
  
  /* Style the quantity input */
  input[type="number"] {
    width: 50px;
    text-align: center;
    border: 1px solid #8a8a8a;
    border-radius: 3px;
  }
  
  #add-to-cart-btn {
    
    justify-content: space-between;
    align-items: center; /* จัดให้ปุ่มอยู่ตรงกลางแนวตั้ง */
    flex-direction: row; /* เรียงปุ่มแนวนอน */
    
    width: 200px;
    margin: 0 auto;
    border: none;

    background-color: #007bff;
    border-color: #007bff;
    color: #fff;
    padding: 10px 20px;
    border-radius: 5px;
    cursor: pointer;
    transition: background-color 0.3s ease;
  }
  #add-to-sell-btn {
    
    justify-content: space-between;
    align-items: center; /* จัดให้ปุ่มอยู่ตรงกลางแนวตั้ง */
    flex-direction: row; /* เรียงปุ่มแนวนอน */
    
    width: 200px;
    margin: 0 auto;
    border: none;

    background-color: orange;
    border-color: orange;
    color: #fff;
    padding: 10px 20px;
    border-radius: 5px;
    cursor: pointer;
    transition: background-color 0.3s ease;
  }
  
  #add-to-cart-btn:hover {
    background-color: #1fdcb3;
  }
  #add-to-sell-btn:hover {
    background-color: #d58d10;
  }
  
  /* Style the carousel */
  .carousel-item img {
    width: 100%;
    height: auto;
  }
  
  .carousel-control-prev,
  .carousel-control-next {
    color: #007bff;
    width: 5%;
  }
  
  .carousel-control-prev-icon,
  .carousel-control-next-icon {
    background-color: #007bff;
  }
  
  .carousel-control-prev:hover,
  .carousel-control-next:hover {
    color: #007bff;
  }
  
  .carousel-indicators {
    bottom: -25px;
  }
  
  .carousel-indicators li {
    background-color: #007bff;
    border-color: #007bff;
  }
  
  .carousel-indicators .active {
    background-color: #007bff;
    border-color: #007bff;
  }
 h2{
    font-family: Arial, Helvetica, sans-serif;
 }
 .contact{
  width: auto;
  height: auto;
  margin: 40px;
  
  text-align:left;
  
 }

 hr.solid {
  border-top: 3px solid #d3c9c9;
}
